= form_for @order, method: :patch do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  
  .form-group
    - @services.each do |shipping|
      .radio
        %label 
          = f.radio_button :shipping_id, shipping.id, :checked => true
          = "#{shipping.company}, $#{shipping.costs}"

  .actions
    .col-md-6
      = link_to 'Back', edit_order_address_path, class: 'btn btn-default btn-block'
    .col-md-6
      = f.submit 'Continue', class: 'btn btn-success btn-block'
