= form_for [current_user, @order], method: :patch do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg
  
  .form-group
    - @services.each do |shipping|
      .radio
        %label 
          = f.radio_button :shipping_id, shipping.id, :checked => true
          = "#{shipping.company}, $#{shipping.costs}"

  .actions
    %br
    %br
    %br
    = f.submit 'Save', class: 'btn btn-success btn-block'
