.container
  .row.text-center
    %h2.text-center
      Checkout
      = console
    .btn-group.btn-group-lg{role: "group"}
      = link_to 'Address', '#', :class => "btn btn-primary"
      = link_to 'Delivery', '#', :class => "btn btn-primary"
      = link_to 'Payment', '#', :class => "btn btn-default"
      = link_to 'Confirm', '#', :class => "btn btn-default"
      = link_to 'Complete', '#', :class => "btn btn-default"
  .row
    .col-md-4.col-sm-4
      %h2
        Shipping Address 
      %p
        = @order.address.address
        %br
        = @order.address.zipcode
        %br
        = @order.address.zipcode
        %br
        = @order.address.city
        %br
        = @order.address.phone
        %br
        = @order.address.country

    .col-md-4.col-sm-4.text-center
      %h2
        Delivery services
      = render 'services'
    .col-md-4.col-sm-4.text-center
      %h2
        Order Summary
      = render 'orders/summary'

