<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="caption-full">
                    <% if @books.nil? %>
                      <%= @empty %>
                    <% else %>
                    <table class="table table-hover">
                        
                            <thead>
                                <th class="col-md-1">Cover</th>
                                <th class="col-md-4">Book</th>
                                <th class="col-md-4">Price</th>
                                <th class="col-md-1">Qty</th>
                                <th class="col-md-2">Total</th>
                                <th class="col-md-1"></th>
                            </thead>
                            <tbody>
                            <% @books.each do |book| %>
                              <tr>
                                  <td>
                                    <img src="<%= asset_path(book.img) %>">
                                  </td>
                                  <td>
                                    <%= book.title %>
                                  </td>
                                  <td>
                                    $<%= book.price %>
                                  </td>
                                  <td>
                                    <%= session[:cart][book.id.to_s] %>
                                  </td>
                                  <td>
                                    $<%= book.price * session[:cart][book.id.to_s] %>
                                  </td>
                                  <td>
                                    <%= link_to 'X', {:controller => 'cart', :action => 'destroy', :id => book.id.to_s}, class: "btn btn-danger btn-xs", method: :post %>
                                  </td>
                              </tr>
                            <% end %>
                            <tr>
                              <td colspan=3></td>
                              <td><p class="text-right"><strong>Subtotal</strong></p></td>
                              <td>$<%= @subtotal %></td>
                              <td></td>
                            </tr>
                            </tbody>

                          
                        
                    </table>
                    <div class="row">
                      <div class="col-xs-6">
                        <%= link_to 'Empty cart', {:controller => 'cart', :action => 'clear'}, class: "btn btn-primary", method: :post %>
                        <%= link_to 'Continue shopping', home_index_path, class: "btn btn-primary" %>
                      </div>

                      <div class="col-xs-6 text-right">
                        <%= link_to 'Update', '#', class: "btn btn-primary" %>
                        <%= link_to 'Checkout', cart_checkout_path, method: :post, class: "btn btn-primary" %>
                      </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->