%h2
  Password
= form_for @user, url: user_update_password_path, method: :patch  do |f|
  .form-group
    = f.label :current_password
    = f.text_field :current_password, class: 'form-control'
  .form-group
    = f.label :password
    = f.text_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation
    = f.text_field :password_confirmation, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-success btn-block'