%h2
  Shipping Address 
= form_for @user, :url => {controller: 'registrations', action: 'update_info'}, method: :put do |f|
  = f.fields_for :shipping_address do |ff|        
    .form-group
      = ff.label :firstname
      = ff.text_field :firstname, class: 'form-control'
    .form-group
      = ff.label :lastname
      = ff.text_field :lastname, class: 'form-control'
    .form-group
      = ff.label :address
      = ff.text_field :address, class: 'form-control'
    .form-group
      = ff.label :zipcode
      = ff.text_field :zipcode, class: 'form-control'
    .form-group
      = ff.label :city
      = ff.text_field :city, class: 'form-control'
    .form-group
      = ff.label :phone
      = ff.text_field :phone, class: 'form-control'
    .form-group
      = ff.label :country
      = ff.collection_select :country, Country.order(:name), :id, :name, {}, {class: 'form-control'}
    .actions
      = ff.submit 'Save', class: 'btn btn-success btn-block'