.container
  .row
    .col-md-6.col-sm-6
      = render 'billing_address'
    .col-md-6.col-sm-6
      = render 'shipping_address'
  .row
    .col-md-12
      %br
      - if @user.errors.any?
        #error_explanation.alert.alert-danger
          %h4= "#{pluralize(@user.errors.count, "error")} prohibited this order from being saved:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
  .row
    .col-md-6.col-sm-6
      = render 'email'
    .col-md-6.col-sm-6
      = render 'password'
