.btn-group.btn-group-lg{role: "group"}
  = link_to 'Address', '#', :class => "btn btn-primary"
  = link_to 'Delivery', '#', :class => "btn btn-#{step != :billing && step != :shipping ? 'primary' : 'default'}"
  = link_to 'Payment', '#', :class => "btn btn-#{step == :payment || step == :confirm ? 'primary' : 'default'}"
  = link_to 'Confirm', '#', :class => "btn btn-#{step == :confirm ? 'primary' : 'default'}"
  = link_to 'Complete', '#', :class => "btn btn-default"