= form_for @card, url: {controller: "credit_cards", action: "update"}, method: :patch do |f|
  - if @card.errors.any?
    #error_explanation.alert.alert-danger
      %h2= "#{pluralize(@card.errors.count, "error")} prohibited this order from being saved:"
      %ul
        - @card.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :number
    = f.text_field :number, class: 'form-control'
  .form-group
    = f.label :cvv
    = f.text_field :cvv, class: 'form-control'
  .form-group
    = f.label :expiration_year
    = f.text_field :expiration_year, class: 'form-control'
  .form-group
    = f.label :expiration_month
    = f.text_field :expiration_month, class: 'form-control'
  .form-group
    = f.label :firstname
    = f.text_field :firstname, class: 'form-control', :value => current_user.firstname
  .form-group
    = f.label :lastname
    = f.text_field :lastname, class: 'form-control', :value => current_user.lastname

  .actions
    = f.submit 'Save and continue', class: 'btn btn-success'