.container
  .row.text-center
    %h2.text-center
      Checkout
    .btn-group.btn-group-lg{role: "group"}
      = link_to 'Address', edit_user_address_path(current_user), :class => "btn btn-primary"
      = link_to 'Delivery', shippings_path, :class => "btn btn-primary"
      = link_to 'Payment', '#', :class => "btn btn-primary"
      = link_to 'Confirm', '#', :class => "btn btn-default"
      = link_to 'Complete', '#', :class => "btn btn-default"
  .row
    .col-md-4.col-sm-4 

    .col-md-4.col-sm-4.text-center
      %h2
        Credentials
      = render 'credentials'
    .col-md-4.col-sm-4.text-center
      %h2
        Order Summary


