<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field, 'ss' %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
