.container

  .row

    = render 'categories/categories'

      .col-md-9

        .row.carousel-holder

          .col-md-12
            #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
              %ol.carousel-indicators
                %li.active{"data-target" => "#carousel-example-generic", "data-slide-to" => "0"}
                %li{"data-target" => "#carousel-example-generic", "data-slide-to" => "1"}
                %li{"data-target" => "#carousel-example-generic", "data-slide-to" => "2"}
                .carousel-inner
                  .item.active
                    %img.slide-image{:alt => "", :src => "http://placehold.it/800x300"}
                  .item
                    %img.slide-image{:alt => "", :src => "http://placehold.it/800x300"}
                  .item
                    %img.slide-image{:alt => "", :src => "http://placehold.it/800x300"}

                %a.left.carousel-control{ :href => "#carousel-example-generic", "data-slide" => "prev" }
                  %span.glyphicon.glyphicon-chevron-left
                %a.right.carousel-control{ :href => "#carousel-example-generic", "data-slide" => "next" }
                  %span.glyphicon.glyphicon-chevron-right

          .row
            - @books.each do |book|
              .col-sm-4.col-lg-4.col-md-4
                .thumbnail
                  %img{ :src => "= asset_path(book.img)", :alt => "" }
                    .caption

                      %h4.pull-right
                        $ = book.price

                      %h4.short
                        = link_to book.title, book 

                      - if !book.author.nil?
                        %span.label.label-primary
                          = link_to %Q(#{book.author.firstname} #{book.author.lastname}), author_path(book.author), class: 'author'

                        %p
                          = book.description
                    .ratings
                      %p.pull-right
                        = book.ratings.count reviews
                      %p
                        %span.glyphicon.glyphicon-star
                        %span.glyphicon.glyphicon-star
                        %span.glyphicon.glyphicon-star
                        %span.glyphicon.glyphicon-star
                        %span.glyphicon.glyphicon-star

        = paginate @books