.row
  .col-md-4
    = form_for([@book, @rating]) do |f|
      - if @rating.errors.any?
        .error_explanation
          %h4
            = pluralize(@rating.errors.count, "error") 
            prohibited this review from being saved
          %ul
            - @rating.errors.full_messages.each do |message|
              %li
                = message
      .form-group
        = f.label :rating
        %br
        = f.select :rating, (1..5), {:selected => 5}, :class => 'form-control'
      .form-group
        = f.label :review_text
        %br
        = f.text_area :review_text, :class => 'form-control'
      .actions
        = f.submit 'Leave a review', :class => 'btn btn-default'


