.container
  .row
    .col-md-12
      .thumbnail
        .caption-full
          %h4.pull-right
            $#{@book.price}
          %h4
            = @book.title
          %p
            = @book.description
        .ratings
          %p.pull-right
            = @book.ratings.count
            reviews
          %p
            - 5.times do |n|
              - if @book.ratings.average(:rating).nil?
                Not rated yet
                - break
              - elsif @book.ratings.average(:rating).ceil > n
                %span.glyphicon.glyphicon-star
              - else
                %span.glyphicon.glyphicon-star-empty
            = @book.ratings.average(:rating)
      .well
        = render 'form'