.container
  .row.text-center
    %h2.text-center
      Checkout
    .btn-group.btn-group-lg{role: "group"}
      = link_to 'Address', '#', :class => "btn btn-primary"
      = link_to 'Delivery', '#', :class => "btn btn-primary"
      = link_to 'Payment', '#', :class => "btn btn-primary"
      = link_to 'Confirm', '#', :class => "btn btn-primary"
      = link_to 'Complete', '#', :class => "btn btn-primary"


  %br
  .row
    .col-md-12
      .thumbnail
        .caption-full.text-center
          %h2.alert.alert-success
            Thank you. We will contact you in 1 sec
          = link_to 'View orders', user_orders_path, :class => 'btn btn-info btn-lg'