.container
  .row.text-center
    = params
    = render 'step'
  .row
    .col-md-4.col-sm-4
      %h2  
        Delivery services
      = render 'delivery'
    - if false
      .col-md-4.col-sm-4.text-center
        %h2
          Shipping Address 
          = render 'shipping_address'
    - else
      .col-md-4.col-sm-4
    .col-md-4.col-sm-4.text-center
      %h2
        Order Summary
      = render 'summary'

