<!-- Page Content -->
<div class="container">

    <div class="row">

        <%= render 'categories/categories' %>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="<%= asset_path(@book.img) %>" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">$<%= @book.price %></h4>
                        <h4><a href="#"><%= @book.title %></a>
                        </h4>
                        <p>
                          <%= @book.description %>
                        </p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right"><%= @book.ratings.count %> reviews</p>
                        <p>
                            <% 5.times do |n| %>
                                <% if !@book.ratings.average(:rating).nil? && @book.ratings.average(:rating).ceil > n %>
                                    <span class="glyphicon glyphicon-star"></span>
                                <% else %>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                <% end %>
                            <% end %>
                            <%= @book.ratings.average(:rating) %>
                            <%= link_to 'Add', book_cart_add_path(@book) %> 
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <%= link_to 'Leave a review', new_book_rating_path(@book), class: "btn btn-success" %>
                    </div>

                    <% @book.ratings.order(created_at: :desc).each do |rating| %>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <% 5.times do |n| %>
                                    <% if rating.rating > n %>
                                        <span class="glyphicon glyphicon-star"></span>
                                    <% else %>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    <% end %>
                                <% end %>
                            </p>
                            <strong><%= rating.rating %>/5</strong>
                            <i><%= rating.user.firstname %></i>
                            <span class="pull-right">
                                <%= time_ago_in_words(rating.created_at) %> ago
                            </span>
                            <p><%= rating.review_text %></p>
                        </div>
                    </div>
                    <% end %>

                    

                </div>

            </div>

        </div>

    </div>

</div>
<!-- /.container -->