<!-- Page Content -->
<div class="container">

    <div class="row">

        <%= render 'categories/categories' %>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="<%= asset_path(@book.img) %>" alt="">
                    <div class="caption-full">
                        <h4 class="pull-right">$<%= @book.price %></h4>
                        <h4><a href="#"><%= @book.title %></a>
                        </h4>
                        <p>
                          <%= @book.description %>
                        </p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right"><%= @book.ratings.count %> reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <%= @book.ratings.average(:rating) %>
                        </p>
                    </div>
                </div>

                <div class="well">

                    <div class="text-right">
                        <%= link_to 'Leave a review', new_book_rating_path(@book), class: "btn btn-success" %>
                    </div>

                    <% @book.ratings.each do |rating| %>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
<!--                             <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span> -->
                            <strong><%= rating.rating %>/10</strong>
                            <i>username</i>
                            <span class="pull-right">
                                <%= time_ago_in_words(rating.created_at) %> ago
                            </span>
                            <p><%= rating.review_text %></p>
                        </div>
                    </div>
                    <% end %>

                    

                </div>

            </div>

        </div>

    </div>

</div>
<!-- /.container -->