.container
  .row
    .col-md-12
      .thumbnail
        .caption-full
          = form_tag url_for(:controller => 'carts', :action => 'update'), method: :put do
            - if @cart.books.empty?
              empty
            - else
              %table.table.table-hover
                %thead
                  %th.col-md-1
                    Cover
                  %th.col-md-4
                    Book
                  %th.col-md-4
                    Price
                  %th.col-md-1
                    Qty
                  %th.col-md-2
                    Total
                  %th.col-md-1
                %tbody                
                  - @cart.books.each_with_index do |book, index|
                    %tr
                      %td
                        %img{src: "#{asset_path(book.img)}"}
                      %td
                        = book.title
                      %td
                        = number_to_currency(book.price)
                      %td
                        = number_field_tag book.id, "#{@cart.session[book.id.to_s]}", class: 'form-control', min: '1', max: '99', :id => book.id.to_s
                      %td
                        = number_to_currency(book.price * @cart.session[book.id.to_s])
                      %td
                        = link_to 'X', {:controller => 'carts', :action => 'destroy', :id => book.id.to_s}, class: 'btn btn-danger btn-xs', method: :delete
                  %tr
                    %td{colspan: 3}
                    %td
                      %p.text-right
                        %strong
                          Subtotal
                    %td
                      = number_to_currency(@cart.subtotal)
                    %td
              .row
                .col-xs-6
                  = link_to 'Empty cart', {:controller => 'carts', :action => 'clear'}, class: 'btn btn-primary', method: :post
                  = link_to 'Continue shopping', root_path, class: 'btn btn-primary'
                .col-xs-6.text-right
                  = submit_tag 'Update', class: 'btn btn-primary'
                  = link_to 'Checkout', checkout_cart_path, method: :post, class: 'btn btn-primary'