.container
  .row.text-center
    %h2.text-center
      Checkout
    .btn-group.btn-group-lg{role: "group"}
      = link_to 'Address', '#', :class => "btn btn-primary"
      = link_to 'Delivery', '#', :class => "btn btn-default"
      = link_to 'Payment', '#', :class => "btn btn-default"
      = link_to 'Confirm', '#', :class => "btn btn-default"
      = link_to 'Complete', '#', :class => "btn btn-default"
  .row
    .col-md-4.col-sm-4
      %h2
        Billing Address  
      = render 'billing'
    .col-md-4.col-sm-4.text-center
      %h2
        Shipping Address 
      .checkbox
        %label
          %input{type: "checkbox", value: "", checked: "checked"}
            Use billing address
    .col-md-4.col-sm-4.text-center
      %h2
        Order Summary


