!!!
%html
  %head
    %title Bookstore
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag    'custom', 'bootstrap', 'shop-homepage', 'font-awesome', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'jquery', 'bootstrap', 'data-turbolinks-track' => true
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    = csrf_meta_tags
  %body
    = render 'layouts/navbar'

    .container
      - flash.each do |type, content|
        - if content.respond_to?('each')
          - content.each do |item|
            = render 'layouts/alert', type: type, content: item
        - else
          = render 'layouts/alert', type: type, content: content

    = yield

    .container
      %hr
      %footer.footer
        .row
          .col-lg-12.text-center
            %p 
              Copyright &copy; 
              = Time.now.year